# Kirill's gitignore part (don't delete otherwise I can't move between branches)
saveForLater
track/fish.mov
__pycache__\
*.DS_Store
Data
local_env/videos
baselines/autoenc_basic/experiment_phase2/data.obj